@import "bootstrap/scss/bootstrap";

h1 {
  text-align: center;
  color:darksalmon;
  background-color: beige;
  border: solid;
  border-radius: 20px;

}

.index{
  background-color: antiquewhite;
}

.banner{
  text-align: center;
  background-color: blanchedalmond;
}

ul {
  list-style-type: none;
  height: 100vh;
  padding: 0;

}

li {
  margin: 40px;
}

li a {
  text-decoration: none;
  color: black;
  background-color: burlywood;
  border-radius: 5px;
  border: solid;
}

li a :hover{
  color: aqua;

}

h2{
  display: inline;
}

h2 a{
  text-decoration: none;
  background-color: brown;
  color: white;
  border-radius: 10px;
  padding: 2px;
}
h2 a :hover {
  color: aquamarine;
  background-color: cadetblue;
  transition: 2s;


}

.show{
  border: solid;
  background-color: aliceblue;
}
